<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="Insertar" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="roles()"
    [rows]="5"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['name', 'description']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} roles"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 15]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Administrar Roles</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th pSortableColumn="name" style="min-width: 16rem">
                Nombre
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="description" style="min-width: 16rem">
                Descripción
                <p-sortIcon field="description" />
            </th>
            <th style="min-width: 16rem">Acciones</th>
        </tr>
    </ng-template>
    <ng-template #body let-role>
        <tr>
            <td style="min-width: 16rem">{{ role.name }}</td>
            <td style="min-width: 16rem">{{ role.description }}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editProduct(role)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteRole(role)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="roleDialog" [style]="{ width: '450px' }" header="Insertar Rol" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="name" class="block font-bold mb-3">Nombre</label>
                <input type="text" [disabled]="this.isEditMode" pInputText id="name" [(ngModel)]="role.name" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !role.name">El campo nombre es obligatorio.</small>
            </div>
            <div>
                <label for="description" class="block font-bold mb-3">Descripción</label>
                <textarea id="description" pInputText [(ngModel)]="role.description" required rows="3" cols="20" fluid></textarea>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Guardar" icon="pi pi-check" (click)="saveRole()" />
    </ng-template>
</p-dialog>

<p-toast />

<p-confirmdialog [style]="{ width: '450px' }" />
